/********Estilos ***********/
:root{
  --color-fondo:#232426;
  --color-banner:rgb(35,36,38);
  --color-fondo-transparente:#232426f6;
  --color-primario:#F26B1D;
  --color-primario-oscuro:#da5000;
  --color-texto-claro:#ffffff;
  --color-texto-oscuro:#000000;
}
html{
  scroll-behavior: smooth;
}
*{
  color: #fff;
}
.navbar-brand{
  width: 40px;
  height: 60px;
}

.boton{
  text-align: center;
  border-radius: 5px;
}

.boton-primario{
  border: 2px solid var(--color-primario);
}

.boton-primario:hover{
  background-color:var(--color-primario);
}

.border-color-primario:hover{
  border:3px solid var(--color-primario);
}

.border-bottom-primario:hover{
  border-bottom:3px solid var(--color-primario);
}

.color-fondo-nt{
  background: var(--color-fondo-transparente);
}

.color-fondo{
  background: var(--color-fondo);
}

.box-shadow-t{
  box-shadow: -4px -8px 28px 3px rgba(0,0,0,0.49);
}

.box-shadow-b{
  box-shadow: -4px 14px 28px 3px rgba(0,0,0,0.49);
}

section{
  padding: 50px 5%;
}

/********Inicio ***********/
.inicio{
  padding: 170px 5%;
  height: 100vh;
  background-image: url(../IMG/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  /* background-attachment: fixed; */
}

.home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 0 0;
}

.home-text h1{
  font-size: 3rem;
  color: var(--color-texto-claro);
}

.home-text p{
  font-size: 1rem;
  margin: .4rem 0 1.8rem;
  color: var(--color-texto-claro);
}

.home-text span{
 color: var(--color-primario); 
}

/******** Acerca de ***********/
.carousel{
  margin: -45px 0;
  padding: 0!important;
}

.banner_uno{
  background:linear-gradient(rgba(35, 36, 38, 0.5), rgba(35, 36, 38, 0.5)), url(../IMG/AboutUsBanner1.jpg);
}

.banner_dos{
  background:linear-gradient(rgba(35, 36, 38, 0.5), rgba(35, 36, 38, 0.5)), url(../IMG/AboutUsBanner2.jpg);
}

.banner_tres{
  background:linear-gradient(rgba(35, 36, 38, 0.5), rgba(35, 36, 38, 0.5)), url(../IMG/AboutUsBanner3.jpg);
}

.banner_uno, .banner_dos, .banner_tres{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.texto_banner{
  padding: 20% 5%;
  display:flex;
  flex-direction:column;
  text-align: justify;
  color: var(--color-texto-claro);
}


.texto_banner h1 span{
  color:var(--color-primario);
  /*color:var(--color-primario-oscuro);*/
}

.texto_banner hr{
  border: 10px solid var(--color-primario);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.texto_banner p, .texto_banner h2{
  font-size: 1.4em;
  padding-left: 20px;
}

.primera{
  background-color: var(--color-fondo)!important;
  border: 2px solid var(--color-primario)!important;
  margin: 20px 2px;
  width: 85%;
  
}

.primera .img{
  width: 100%!important;
  height: 80%;
}

.segunda {
  background-color: var(--color-fondo)!important;
  border: 2px solid var(--color-primario)!important;
  border-radius: 20px!important;
  width: 100%;
  margin: 20px 0px;
  -webkit-border-radius: 20px!important;
  -moz-border-radius: 20px!important;
  -ms-border-radius: 20px!important;
  -o-border-radius: 20px!important;
}
 
.segunda .img{
  margin-left: 0px;
}

.valores{
  background-color: var(--color-fondo)!important;
  border: 2px solid var(--color-primario)!important;
  text-align: center;
  border-radius: 100px!important;
  -webkit-border-radius: 100px!important;
  -moz-border-radius: 100px!important;
  -ms-border-radius: 100px!important;
  -o-border-radius: 100px!important;
}

.valores .img{
  display: block;
  margin: 20px auto 0px;
  width: 64px;
  height: auto;
}

/******** Procesos ***********/

.cabecera__procesos{
  padding: 180px 5% 50px;
  background-image: url(../IMG/pexels-edward-eyer-11952100.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cabecera__procesos a{
  margin:0 0 50px ;
}

.cabecera__procesos a#saber-mas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto__cabecera{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
}

.texto__cabecera h2{
  font-size:3.5rem;
  margin:0 0 30px ;
}
.titulo__procesos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:50px;
  margin-top: 100px;
}

.titulo__procesos h2{
  display:inline-block;
  width: 200px;
  text-align:center;
  padding-bottom:5px;
  padding-top:5px;
  border-bottom:3px solid var(--color-primario);
  border-top:3px solid var(--color-primario);
}

.fila{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows:minmax(200px,1fr);
  gap: 25px;
  margin-bottom: 50px;
}

.tarjeta{
  display: flex;
  border-radius: 10px;
  background:var(--i);
  background-size: cover;
  background-position: center;
  box-shadow:3px 5px 5px rgba(0,0,0,.8)
}


.content{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgba(0,0,0,.4);
  border-radius: 10px;
  opacity: 0;
}

.tarjeta:hover .content{
  opacity: 1;
}

.tarjeta:hover{
  transform: scale(1.05);
}
/**modal */
.modal{
  transition: all .5s;

}

.modal-body::-webkit-scrollbar,
body::-webkit-scrollbar{
  width: 7px;
}

.modal-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
  background: var(--color-primario);
  border-radius: 5px;
  
}

.modal-body{
  /* background-color:var(--color-fondo); */
  /* color: var(--color-texto-oscuro); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* max-height: 525px; */
  z-index: 1100;
  overflow: auto;
  border-radius: 5px;
}

.modal-body .portada-modal>img{
  border-radius: 5px;
  width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.receta-info h2{
  text-align: center;
}

.step{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px;
  border-radius: 10px;
  margin: 0 0 10px;
  text-align: justify;
  box-shadow:3px 5px 5px rgba(173, 173, 173, 0.8);
  background-color: rgba(233, 233, 233, 0.8);
}

.step p>b{
  color:var(--color-texto-oscuro);
}

.step img{
  width:35px;
  height:35px;
  filter:saturate(1);
  /* filter: invert(1); */
}

.portada-modal{
  position: relative;
  width: 100%;
}

.step p{
  padding: 5px;
  align-items: center;
}


.curva{
  display: none;
}

.modal[id|="receta"]:target{
  opacity: 1;
  pointer-events: auto;
}

.modal#proceso-pan:target{
  opacity: 1;
  pointer-events: auto;
}

/**CATALOGO PRODUCTOS **/

.productos_portada{
  padding: 120px 5% 50px;
  background-image: url(../IMG/Tipos/portada1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_portada a{
  margin:0 0 50px ;
}

.texto_portada{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
}

.texto_portada h1{
  font-size: 2.5rem;
  margin:0 0 30px ;
  size: 100cm;
  font-size: 2cm;
}

.texto_portada p{
  font-size: 150%;
}

.fila2{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  grid-auto-rows:minmax(300px,1fr);
  gap: 35px;
  margin-bottom: 50px;
}

.text-especialidades-container{
  padding: 40px 40px 50px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}
.primero{
  display: flex;
  justify-content:center;
  align-items: center;
  width:minmax(600px,800px);
  border-bottom:3px solid var(--color-primario);
  border-top:3px solid var(--color-primario);
}


.pasteleria{
margin: 1em;
padding: 1em;
float: left;
}

.panaderia{
  margin: 1em;
  padding: 1em;
  float: left;
}

.reposteria{
  margin: 1em;
  padding: 1em 0px 100px;
  float: left;
}

.cafeteria{
  margin: 1em 0px 100px;
  padding: 1em;
  float: left;
}




/**panaderia**/
.productos_panaderia{
  padding: 120px 5% 50px;
  background-image: url(../IMG/Tipos/Panaderia/Quesadillas.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_panaderia a{
  margin:0 0 50px ;
}

.texto_panaderia{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
  -webkit-text-stroke: 1px black;
  color: transparent; 
}

/**cafeteria**/
.productos_cafeteria{
  padding: 120px 5% 50px;
  background-image: url(../IMG/Tipos/Cafeteria/cafeteria.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_cafeteria a{
  margin:0 0 50px ;
}

.texto_cafeteria{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
  -webkit-text-stroke: 1px black;
  color: transparent; 
}

/**pasteleria**/
.productos_pasteleria{
  padding: 120px 5% 50px;
  background-image: url(../IMG/Tipos/Pasteleria/Pastel-CorazoÌn-de-fresa-1536x1536.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_pasteleria a{
  margin:0 0 50px ;
}

.texto_pasteleria{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
  -webkit-text-stroke: 1px black;
  color: transparent; 
}

/**reposteria**/
.productos_reposteria{
  padding: 120px 5% 50px;
  background-image: url(../IMG/Tipos/Reposteria/Reposteria.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_reposteria a{
  margin:0 0 50px ;
}

.texto_reposteria{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 0 50px;
  -webkit-text-stroke: 1px black;
  color: transparent; 
}

/**cards de productos**/
.container1{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container1 .card{
  width: 350px;
  height: 330px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container1 .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container1 .card img{
  width: 350px;
  height: 270px;
}


.container1 .card h4{
  color: #000000;
  font-weight: 600;
}

.container1 .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

/****** Contacto ****** */

.contenedor{
  position: relative;
  width: 100%;
  min-height:100vh;
  padding: 2rem;
  background: var(--color-fondo);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.formulario{
  margin-top: 5.5rem;
  width: 100%;
  max-width: 820px;
  background-color:var(--color-fondo);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns:1fr;
}

.contacto_formulario{
  background-color:var(--color-primario-oscuro);
  position: relative;
}

.circulo{
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #b84300);
  position: absolute;
}

.circulo.uno{
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circulo.dos{
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}


.contacto_formulario::before{
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--color-primario-oscuro);
  transform: rotate(45deg);
  top: -13px;
  left: initial;
  right: 70px;
}

form.contacto{
  padding: 2.5rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.titulo{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.input_contenedor{
  position: relative;
  margin: 1rem 0;
}

.input{
  width: 100%;
  outline: none;
  border: 2px solid var(--color-texto-claro);
  background: transparent;
  padding: 0.6rem 1.2rem;
  color: var(--color-texto-claro);
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition:0.3s;
}

textarea.input{
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}


textarea.input::-webkit-scrollbar{
  width: 7px;
}

textarea.input::-webkit-scrollbar-thumb{
  background: var(--color-texto-claro);
  border-radius: 5px;
}

.input_contenedor label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input_contenedor.textarea label{
  top: 1rem;
  transform: translateY(0);
}

.btn_contacto{
  padding: 00.6rem 1.3rem;
  background: var(--color-texto-claro);
  border:2px solid  var(--color-texto-claro);
  font-size: 0.95rem;
  color: var(--color-primario-oscuro);
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 0;
}

.btn_contacto:hover{
  background-color: transparent;
  color: var(--color-texto-claro);
}

.input_contenedor span{
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input_contenedor span:after,
.input_contenedor span:before{
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: var(--color-primario-oscuro);
  top: 50%;
  transform: translateY(-50%);
}

.input_contenedor span::after{
  right: 50%;
}

.input_contenedor span::before{
  left: 50%;
}

.input_contenedor.focus label{
  top: 0;
  transform: translateY(-50%);
  left: 22.5px;
  font: 0.8rem;
}

.input_contenedor.focus span::before,
.input_contenedor.focus span::after{
  width: 50%;
  opacity: 1;
}

.contacto_info{
  
  padding: 2.3rem 2.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto_info .titulo{
  color:var(--color-primario-oscuro);
  margin:0 0 2rem;
  font-size: 1.5rem;
}



.contacto_info::before{
  content: "";
  position: absolute;
  width: 180px;
  height: 150px;
  border: 23px solid var(--color-primario-oscuro);
  border-radius: 50%;
  opacity:0.3;
  top: -80px;
  right: 40px;
  transform: scale(0.95);
}

.circulo_grande{
  position: absolute;
  width:500px;
  height:500px;
  border-radius: 50%;
  background:linear-gradient(to bottom, var(--color-primario-oscuro),#b84300);
  bottom: 65%;
  right: 50%;
  transform: scale(0.9 translate(-40%,30%));
}


.circulo_grande::after{
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}


.circulo_grande2{
  position: absolute;
  width:380px;
  height:380px;
  border-radius: 50%;
  background:linear-gradient(to bottom, var(--color-primario-oscuro),#b84300);
  bottom: 5%;
  right: 55%;
  transform: translate(130%, 11%);
  opacity: 0.2;
}

.circulo_grande2::after{
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: var(--color-fondo);
  border-radius: 50%;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
}

/******** Responsive *********** */
@media (max-width: 480px) {
  .contenedor{
    padding: 1.5rem;
  }
  .contacto_info::before{
    display: none;
  }
  .circulo_grande,
  .circulo_grande2{
    display: none;
  }

  form.contacto,
  .contacto_formulario{
    padding: 0.7rem;
  }
}

@media only screen and (min-width:900px) {
  /**ventanas modal */
  .modal-body{
    max-width: 800px;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 25px;
    overflow-x: hidden;
  }

  .modal-body .portada-modal>img{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .step img{
    width:35px;
    height:35px;
    filter:saturate(1);
    /* filter: invert(1); */
  }
  .portada-modal{
    position: relative;
  }

  .curva{
    display:flex;
    position: absolute;
    bottom:0;
    width: 100%;
  }

  .formulario{
    grid-template-columns:  repeat(2, 1fr);
  }

  .contacto_info::before{
    top: 85%;
    right:30px;
  }

  .contacto_formulario::before{
    top: 50px;
    left: -14px;
  }

  .contenedor{
    margin: 0;
  }
  
  .circulo_grande2{
    transform: translate(181%, 11%);
  }

  .circulo_grande{
    bottom: 50%;

    transform: translate(-40%, 38%);
  }
}
