* {
    margin: 0;
    padding: 0;
}

body {
    background: #232426f6;
}

.container {
    margin-top: 100px;
}

.contact-form {
    list-style-type: none;
}

.contact-form li div {
    margin-bottom: 2.5em;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    margin: 0;
    padding-bottom: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid slategrey;
    background: #232426f6;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;
    font-weight: 700;
    font-size: 18px;
    transition: ease-in-out 0.25s;
}

.contact-form textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    overflow: hidden;
}

.contact-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-form label {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
    resize: none;
    border-bottom: 3px solid #F26B1D;
}

.contact-form button {
    color: lightgrey;
    background: rgba(34, 34, 34, 0.0);
    border: 3px solid #F26B1D;
    height: 74px;
    width: 200px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
}

.contact-form button span {
    transition: ease-in-out 0.25s;
}

.contact-form button:hover {
    background: #F26B1D;
    color: lightgrey;
}

.contact-form button:hover span {
    padding-left: 10px;
    color: white;
}